

body {
    color: white;
    background: url('img/image\ copy.png');
    margin: 1px;
    font-family: "Antic Slab", serif;
    font-weight: bold;
    margin-bottom: 100px;
}

header {
    background: url('img/ChatGPT\ Image\ 16\ de\ set.\ de\ 2025\,\ 11_56_53\ \(1\)\ \(1\).png');
    border-bottom: solid 3px #e46809;
    padding: 90px;
    font-size: 25px;
    color: white;
}


p {
    font-size: 20px;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}



footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 9px;
}