/* Definição de paleta de cores */
:root {
    --cor-principal: #e07a5f;    /* Laranja-terra */
    --cor-secundaria: #f2cc8f;  /* Dourado */
    --cor-destaque: #81b29a;    /* Verde-musgo */
    --cor-fundo-escuro: #3d405b; /* Azul-acinzentado escuro */
    --cor-texto: #ffffff;       /* Texto claro */
}

body {
    color: var(--cor-texto);
    background: url('img/body-bg.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: "Antic Slab", serif;
    font-weight: bold;
    margin-bottom: 100px;
}

/* Cabeçalho */
header {
    background: url('img/header-bg.png') no-repeat center center;
    background-size: cover;
    height: 80pxg;
    border-bottom: solid 4px var(--cor-principal);
    padding: 90px;
    font-size: 28px;
    color: var( --cor-destaque);
    text-align: left;
}

/* Tipografia */
p {
    font-size: 20px;
    line-height: 1.6;
    color: #ffffff;
}

h1, h2, h5 {
    color:white;
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
    text-decoration: none;
}

/* Links */
a {
    color: var(--cor-principal);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
.btn-link:hover {
    color: var(--cor-secundaria);
}

/* Cards e modais */
.card {
    background-color: var(--cor-fundo-escuro);
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    overflow: hidden;
}


/* Footer */
footer {
    background:url('img/footer.jpg');
    background-size: cover;
    width: auto;
        color: var(--cor-texto);
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    font-size: 14px;
    border-top: 2px solid var(--cor-principal);
}
